@import "../core/core";

.detailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.returnBtn {
  margin-bottom: 20px;
  padding-top: 3px;
  height: 30px;
  width: 100px;
  color: $mainText;
  text-decoration: none;
  font-family: $font-text;
  font-weight: bold;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  background-color: $backgroundBtn;
  box-shadow: 7px 7px 5px #d1d1d1;
  cursor: pointer;
}
.Cardtitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.detailCard {
  border: $borderDetailCard 2px solid;
  margin: 30px 20px;
  padding: 15px 0;
  width: 350px;
  border-radius: 15px;
  background-color: $backgroundDetailCard;
  box-shadow: 7px 7px 5px #02b1c8;
  text-align: center;
  &__image {
    width: 150px;
    border: 3px solid $borderImage;
    border-radius: 100%;
    margin: 10px 0;
  }
  &__text {
    font-family: $font-text;
    font-size: 12px;
    text-transform: capitalize;
    text-align: start;
    padding-left: 25px;
    &--name {
      font-size: 25px;
      margin: 10px 0;
    }
    &--info {
      margin-bottom: 5px;
    }
  }
  &__state {
    &--icon {
      width: 30px;
      margin-left: 30px;
      border: $borderDeathIcon 1px solid;
      border-radius: 100%;
      padding: 2px;
      background-color: $backgroundDeathIcon;
    }
  }
}
