@import "../core/core";
.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &--element {
      border: $borderDetailCard 2px solid;
      margin: 10px 20px;
      padding: 20px 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $font-text;
      text-transform: capitalize;
      border-radius: 15px;
      background-color: $backgroundDetailCard;
      box-shadow: 7px 7px 5px #02b1c8;
    }
  }
}
