@import "../core/core";
.form {
  margin: 10px 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    margin: 50px 0 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.reset {
  height: 30px;
  width: 80px;
  padding: 0 5px;
  font-family: $font-text;
  font-size: 15px;
  margin: 15px 0 0;
  border: 0;
  border-radius: 10px;
  color: $mainText;
  background-color: $backgroundBtn;
  box-shadow: 7px 7px 5px #d1d1d1;
  @include tablet {
    font-size: 20px;
    margin: 0 0 0 20px;
  }
  &:focus {
    outline: none;
  }
}
