.characterLink {
  text-decoration: none;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card {
  color: #02b1c8;
  &__name {
    font-size: 18px;
  }
  &__image {
    width: 150px;
    border: 3px solid #02b1c8;
    border-radius: 100%;
  }
  &__specie {
    font-size: 18px;
  }
  &__state {
    &--icon {
      width: 30px;
      margin-right: 10px;
      border: white 1px solid;
      border-radius: 100%;
      padding: 2px;
      background-color: rgba(255, 255, 255, 0.589);
    }
  }
}
