.characterLink {
  text-decoration: none;
}

.card {
  color: #02b1c8;
  &__name {
    font-size: 18px;
  }
  &__image {
    width: 150px;
    border: 3px solid #02b1c8;
    border-radius: 100%;
  }
  &__specie {
    font-size: 18px;
  }
}
