//fonts

$font-text: "Roboto", serif;

//colours

$borderDeathIcon: white;
$backgroundDeathIcon: rgba(255, 255, 255, 0.589);
$borderImage: #02b1c8;
$borderDetailCard: #02b1c8;
$mainText: black;
$backgroundBtn: #5ba547de;
$backgroundDetailCard: #5ba54793;
$filterText: #02b1c8;
